@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600;800&display=swap');

*{
    font-family: 'Inconsolata', monospace;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

h2{
    font-weight: 600;
    font-size:16px;
    line-height:1.5em;
}

body{
    width:100%;
    max-width:600px;
    margin: 50px auto;  
    /* background: linear-gradient(to left, #c9d6ff, #e2e2e2); */
    background: linear-gradient(to right, #c9ffbf, #ffafbd);

}

header,
main{
    padding:10px 30px;
    background-color: white;
}

header{
    border-radius:5px 5px 0px 0px;
}
main{
    border-radius:0px 0px 5px 5px;
    padding-bottom:100px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

menu{
    display:flex;
    align-items: center;
    padding:0px;
    justify-content: center;
}

menu a{
    padding:5px 10px;
    margin: 0px 5px;
    text-decoration:none;
    color:black;
    border-radius: 5px;
}

menu .active{
    background-color:lightblue;
}

menu a:hover{
    background-color:#FFCF52;
}

checkbox{

}

.instructions{
    background-color: #3D4959;
    padding:10px 20px;
    margin:20px 200px 10px 0px;
    border-radius: 0px 5px 5px 5px;
    color:white;
}

.container{
    background-color: white;
    padding:10px 20px;
    width:100%;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.response{
    background-color: #CCEB75;
    padding:10px 20px;
    margin:20px 0px 10px 300px;
    border-radius: 5px 0px 5px 5px;
}

.timerbuttons{
    display: flex;
    justify-content: space-around;
    width:50%;
    margin:auto;
}

.timer{
    text-align: center;
    font-size:30px;
    padding:20px;
}

.inputrow{
    display:flex;
}

.steptwo,
.stepthree,
.stepfour{
    display:none;
}


.listItems ul {
    margin-left:-40px;
}

.col-12 li {
	list-style: none;
	padding: 20px 20px;
	color: black;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 10px;
	background: lightblue;
    border-radius: 5px;
}

li > button {
	font-weight: 400;
	background: none;
	border: none;
	float: right;
	color: black;
	font-weight: 800;
} 

/*BUTTON STYLING*/
.button{
    padding:20px;
    color:black;
    text-decoration: none;
    border: 1px solid lightblue;
    border-radius: 5px;
    background-color: white;
}

.button:hover{
    font-weight: 600;
}

.delete {
	display: none;
}

.delete button{
    color:blue;
}

#buttons{
    margin-top:50px;
}

#enterbutton,
#addButton{
    padding:20px;
    margin-top:10px;
    font-size:16px !important;
    color:black;
    text-decoration: none;
    float:right;
    border:1px solid transparent;
    background-color: #FFCF52;
    flex-basis: 20%;
}

#enterbutton:hover,
#addButton:hover{
    font-weight:700;
    border:1px solid black important;
}

#backbutton {
    float:left;
}

#backbutton:hover {
    background-color: #FD5252;
    border: 1px solid #FD5252;
}

#nextbutton {
    float:right;
}

#nextbutton:hover {
    background-color: #CCEB75;
    border: 1px solid #CCEB75;
}

#enter {
	transition: all 0.75s ease;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75 ease;
}

#enter:hover{
	background-color: #02798F;
	color: #FFCD5D;
}

#start{
    background-color: #CCEB75;
}
#pause{
    background-color: #FFCF52;
}
#reset{
    background-color: #FD5252;
}
/*END BUTTON STYLING*/

#habilogo{
    text-align: right;
    font-weight:800;
    font-size:18px;
    text-decoration: none;
    color:black;
}

#logoicon{
    width:100px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

#feelings{
    display: flex;
    justify-content: space-evenly;
}

#feelings div{
    padding: 10px 10px;
    border: 2px transparent solid;
    border-radius:5px;
}

#feelings div:hover{
    border: 2px gray solid;
    font-weight:700;
}

#feelings div:visited,
#feelings a:visited{
    border: 2px black solid;
    font-weight:700;
}

#feelings img{
    width:80px;
    height:80px;
    border:solid black 1px;
    border-radius: 100px;
}

#feelings p{
    text-align: center;
    margin:0px;
}

/*INPUT STYLING*/
#welcomeinput{
    display:flex;
}

#nicknameinput,
#affinput,
#habitinput{
    border:lightgray solid 1px;
    border-radius: 5px;
    padding:20px;
    margin-top:10px;
    margin-right:5px;
    width:100%;
    font-size: 16px;
}



